{% extends "base.html"%}
{% load static %}
{% block content %}
<div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{opening.title}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb">
                                    <img src="{% static 'img/svg_icon/1.svg' %}" alt="">
                                </div>
                                <div class="jobs_conetent">
                                    <a href="#"><h4>{{opening.title}}</h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i>{{opening.location}}</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i>{{opening.type}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    <a class="heart_mark" href="#"> <i class="ti-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="descript_wrap white-bg">
                        <div class="single_wrap">
                            <h4>Job description</h4>
                            <p>{{opening.description}}</p>
                        </div>
                        <div class="single_wrap">
                            <h4>Responsibility</h4>
                            <p>The successful applicant will be tasked with the following roles:</p>
                            <ul>
                                <li>
                                	{{opening.role_1}}
                                </li>
                                <li>
                                	{{opening.role_2}}
                                </li>
                                <li>
                                	{{opening.role_3}}
                                </li>
                                <li>
                                	{{opening.role_4}}
                                </li>
                                <li>
                                	{{opening.role_5}}
                                </li>
                            </ul>
                        </div>
                        <div class="single_wrap">
                            <h4>Qualifications</h4>
                            <p>The applicants should have the following qualifications:</p>
                            <ul>
                                <li>
                                	{{opening.qualification_1}}
                                </li>
                                <li>
                                	{{opening.qualification_2}}
                                </li>
                                <li>
                                	{{opening.qualification_3}}
                                </li>
                                <li>
                                	{{opening.qualification_4}}
                                </li>
                                <li>
                                	{{opening.qualification_5}}
                                </li>
                            </ul>
                        </div>
                        <div class="single_wrap">
                            <h4>Benefits</h4>
                            <p>This is what you get when you work with us:</p>
                            <ul>
                                <li>
                                	{{opening.benefit_1}}
                                </li>
                                <li>
                                	{{opening.benefit_2}}
                                </li>
                                <li>
                                	{{opening.benefit_3}}
                                </li>
                                <li>
                                	{{opening.benefit_4}}
                                </li>
                                <li>
                                	{{opening.benefit_5}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="apply_job_form white-bg">
                        <h4>Apply for the job</h4>
                        <form action="{% url 'apply' %}">
                        	{% csrf_token %}
                            {% if user.is_authenticated %}
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            {% else %}
                            <input type="hidden" name="user_id" value="0">
                            {% endif %}
                            <input type="hidden" name="recruiter_email" value="{{ opening.recruiter.email }}">
                            <input type="hidden" name="opening_id" value="{{ opening.id }}">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input_field">
                                        <input type="text" name="name" placeholder="Your name" {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}" {% endif %} required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input_field">
                                        <input type="text" name="email" placeholder="Email" {% if user.is_authenticated %} value="{{ user.email }}" {% endif %} required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input_field">
                                        <input type="text" name="website" placeholder="Website/Portfolio link">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <button type="button" id="inputGroupFileAddon03"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                          </button>
                                        </div>
                                        <div class="custom-file">
                                          <input type="file" name="resume" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                                          <label class="custom-file-label" for="inputGroupFile03">Resume</label>
                                        </div>
                                      </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input_field">
                                        <textarea name="cover_letter" id="" cols="30" rows="10" placeholder="Tell us why you are the best talent......"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="submit_btn">
                                        <button class="boxed-btn3 w-100" type="submit">Apply Now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="job_sumary">
                        <div class="summery_header">
                            <h3>Opening nutshell</h3>
                        </div>
                        <div class="job_content">
                            <ul>
                                <li>Published on: <span>{{opening.created|date}}</span></li>
                                <li>Expires on: <span>{{opening.date_line|date}}</span></li>
                                <li>Salary: <span>{{opening.salary}} $/month</span></li>
                                <li>Recruiter: <span>{{opening.recruiter}}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="share_wrap d-flex">
                        <span>Share this opening:</span>
                        <ul>
                            <li><a href="#"> <i class="fa fa-facebook"></i></a> </li>
                            <li><a href="#"> <i class="fa fa-google-plus"></i></a> </li>
                            <li><a href="#"> <i class="fa fa-twitter"></i></a> </li>
                            <li><a href="#"> <i class="fa fa-envelope"></i></a> </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}