{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Upload your resume</title>
  </head>

    <body>
        <!-- List of uploaded documents -->
        {% if request.user.is_staff %}
        {% if documents %}
        <div class="list-group">
             <a href="#" class="list-group-item list-group-item-action active">
                 All documents in the database:
             </a>
               {% for document in documents %}
               <a href="{{ document.docfile.url }}" class="list-group-item list-group-item-action">{{ document.docfile.name }}</a>
             {% endfor %}

             {% else %}
            <a href="#" class="list-group-item list-group-item-action active">
                 No documents.
             </a>
            </div>
           {% endif %}
           {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ message }}
            {{form|crispy}}
            <input class="btn btn-success btn-sm" type="submit" value="Upload"/>
        </form>
    </body>
</html>